<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_book</title>
</head>
<body>

<h1>添加书籍</h1>

<form action="{% url 'add_book' %}" method="post">
    <p>
        书名:<input type="text" name="title">
    </p>
    <p>
        出版社:<select name="publisher" >
            {% for publisher in publisher_list %}
                <option value="{{ publisher.id }}">{{ publisher.name }}</option>
            {% endfor %}
        </select>
    </p>
{#    <input type="text" name="publisher"></input>#}
    <input type="submit" value="提交">
</form>

</body>
</html>