<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>edit_book</title>
</head>
<body>

<h1>编辑书籍</h1>

<form action="/edit_book/" method="post">
    <input type="text" name="book_id" value="{{ book.id }}" style="display: none">
    <p>
        书名:
        <input type="text" name = "book_title" value="{{ book.title }}">
    </p>
    <p>
        出版社:
        <select name="publisher_id">
            {% for publisher in publisher_list %}
                {% if book.publisher.id == publisher.id %}
                    <option selected value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% else %}
                    <option value="{{ publisher.id }}">{{ publisher.name }}</option>
                {% endif %}
            {% endfor %}
        </select>
    </p>
    <p>
        <input type="submit">
    </p>
</form>

</body>
</html>