

.author-img{
    width: 80px;
    height: 80px;
}


.article-footer span{
    margin-right: 15px;
}

.article-footer{
    margin-top: 10px;
}

.article-title{
    font-size: 20px;
}


/*个人博客主页*/
.home-header {
    height: 50px;
    width: 100%;
    color: white;
}
.home-header p{
    font-size: 24px;
    padding: 10px;
    font-weight: bold;
}