{% extends 'base.html' %}


{% block main_page %}

    <div class="article-detail">
        <h1>{{ article.title }}</h1>
        <p>{{ article.articledetail.content|safe }}</p>
    </div>

    <div class="poll clearfix">
        <div id="div_digg">
        <div class="diggit action">
            <span class="diggnum" id="digg_count">{{ article.up_count }}</span>
        </div>
        <div class="buryit action">
            <span class="burynum" id="bury_count">{{ article.down_count }}</span>
        </div>
        <div class="clear"></div>
            <div class="diggword" id="digg_tips" style="color: red;"></div>
        </div>
        {#    通过标签让js获取，因为外部js文件没发拿到{{ article.pk }}#}
        <div class="info" article_id="{{ article.pk }}" username = "{{ request.user.username }}"></div>
        {% csrf_token %}
    </div>
    </div>


    <p>评论列表</p>
    <div class="comment_list" style="margin-left: 10px">
        {% for comment in comment_list %}
            <li class="list-group-item">
                <div>
                    <a>#{{ forloop.counter }}楼</a>&nbsp;
                    <span style="color: gray">{{ comment.create_time|date:"Y-m-d H:i" }}</span>&nbsp;
                    <a href="/blog/{{ comment.user.username }}"><span>{{ comment.user.username }}</span></a>
                    <a class="pull-right replay_btn" username="{{ comment.user.username }}"><span>回复</span></a>
                </div>
                <div class="con">
                    {{ comment.content }}
                </div>
            </li>
        {% endfor %}
    </div>


    {% if request.user.username %}
        <div class="div_comment">
            <p>昵称：<input type="text" id="tbCommentAuthor" class="author" disabled="disabled" size="50" value="{{ request.user.username }}"></p>
            <p>评论内容</p>
            <textarea id="comment_content" class="" cols="60" rows="10"></textarea>
            <p><button class="btn btn-primary" id="comment_btn">提交评论</button></p>
        </div>
    {% else %}
        <a href="/login/">登录后评论</a>
    {% endif %}



    <script src="/static/js/article_detail.js"></script>
    <script>
        $("#comment_btn").click(function () {
            var article_id = $(".info").attr("article_id");
            var comment_content = $("#comment_content").val();
            var pid = "";
            $.ajax({
                url:"/blog/comment/",
                type:"post",
                data:{
                    article_id:article_id,
                    content:comment_content,
                    pid:pid,
                    csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val(),
                },
                success:function (data) {
                    $("#comment_content").val("");
                    create_time = data.create_time;
                    content = data.content;
                    username = data.username;
                    var comment_li = '<li class="list-group-item"> <div> <a href="/blog/'+username+'">'+username+'</a>&nbsp<span style="color: gray">'+create_time+'</span>&nbsp;  </div> <div class="con">'+content+' </div></li>'
                    $(".comment_list").append(comment_li)
                }
            })
        })

        $(".replay_btn").click(function () {
            $(".comment_content").focus();
            var name = "@"+$(this).attr("username")+"\n";
            console.log(name);
            $("#comment_content").val(name);
        })
    </script>


{#    <script>#}
{#        $("#div_digg .action").click(function () {#}
{#            //赞或者灭#}
{#            var is_up = $(this).hasClass("diggit");#}
{#            var article_id = "{{ article.nid }}";#}
{#            $.ajax({#}
{#                url:"/blog/up_down/",#}
{#                type:"post",#}
{#                data:{#}
{#                    is_up:is_up,#}
{#                    article_id:article_id,#}
{#                    csrfmiddlewaretoken:$("[name='csrfmiddlewaretoken']").val()#}
{#                },#}
{#                success:function (data) {#}
                    {#console.log(state)#}
{#                    if (data.state){#}
{#                        if (is_up){#}
{#                            var val = $("#digg_count").text();#}
{#                            $("#digg_count").text(parseInt(val) + 1);#}
{#                        }#}
{#                        else{#}
{#                            var val = $("#bury_count").text();#}
{#                            $("#bury_count").text(parseInt(val) + 1);#}
{#                        }#}
{#                    }#}
{#                    else {#}
{#                        if (data.first_action)#}
{#                        {#}
{#                            $("#digg_tips").html("您已经推荐过了");#}
{#                        }#}
{#                        else#}
{#                            $("#digg_tips").html("您已经反对过了");#}
{##}
{#                        setTimeout(function () {#}
{#                            $("#digg_tips").html("")#}
{#                        }, 1000)#}
{#                    }#}
{#                }#}
{#            })#}
{#        })#}
{#    </script>#}

{% endblock %}

