<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
</head>
<body>

<div>
    <i class="fa fa-address-book"></i>
    <i class="fa fa-window-restore" aria-hidden="true"></i>
    <i class="fa fa-eercast" aria-hidden="true"></i>

    <i class="fa fa-hdd-o" aria-hidden="true"></i>
</div>
{#<span><i class="fa fa-camera-retro fa-lg"></i> fa-lg</span>#}
<i class="fa fa-camera-retro fa-lg"></i> fa-lg
<i class="fa fa-camera-retro fa-2x"></i> fa-2x
<i class="fa fa-camera-retro fa-3x"></i> fa-3x
<i class="fa fa-camera-retro fa-4x"></i> fa-4x
<i class="fa fa-camera-retro fa-5x"></i> fa-5x

<div class="list-group">
    <a href="#" class="list-group-item"><i class="fa fa-home">首页</i></a>
  <a class="list-group-item" href="#"><i class="fa fa-book fa-fw" aria-hidden="true"></i>&nbsp; 关于我们</a>
  <a class="list-group-item" href="#"><i class="fa fa-pencil fa-fw" aria-hidden="true"></i>&nbsp; 后台应用编辑</a>
  <a class="list-group-item" href="#"><i class="fa fa-cog fa-fw" aria-hidden="true"></i>&nbsp; 系统设置</a>
</div>

<a href="#" class="btn btn-danger">
    <i class="fa fa-trash-o fa-lg">删除</i>
</a>

</body>
</html>